body {
	background-color: darkgray;
}

h1 {
	text-align: center;
}

form {
	font: 16px/18px bold verdana, sans-serif;
	background-color: lightgray;
	border: 1px solid #dddddd;
	width: 400px;
	margin: 0 auto;
	padding: 15px;
	border-radius: 5px;
}

label {
	margin: 0 5px;
}

.row {
	margin-top: 10px;
}

